* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  h1 {
    text-align: center;
    color: rgb(72, 124, 197);
    padding: 30PX;
    font-size: 3.5rem;
    font-weight: bold;
  }

  #divBut {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #but {
      padding: 25px;
      font-size: 2.5rem;
      border: 1px solid #c9c8c8;
      border-radius: 50px;
      color: #5e9f5e;
      font-weight: bold;

    }
  }
  #containerTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .container {

      width: 600px;
      height: 400px;
      border: 5px solid #a19e9e;
      border-radius: 10px;
      margin: 30px 10px 10px 10px;
      background-color: #e5e3e3;

      .divTitle {
        color: rgb(70, 121, 192);
        text-align: center;
        font-weight: bold;
      }

      .containerBlock {
        width: 100%;
        height: 75%;
        margin-top: 5%;
        display: flex;

        .time {
          width: 25%;
          height: 100%;

          .oclock {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .fa-clock {
              font-size: 3.5rem;
              color: #5e9f5e;
            }

            p {
              margin-top: 5px;
            }
          }

          .dates {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .fa-calendar-days {
              font-size: 3.5rem;
              color: #6ebb6e;
            }

            p {
              margin-top: 5px;
            }
          }
        }

        .taches {
          width: 70%;
          height: 100%;
          border: 1px solid #cdcbcb;
          border-radius: 3px;
          margin-left: 3%;
          background-color: #ffffff !important;

          .detailTache {
            width: 95%;
            margin-left: auto;
            margin-right: auto;


          }
        }
      }

      .barre {
        display: flex;
        flex-direction: row;
        height: 11%;

        .corbeil {
          width: 10%;
          color: rgb(70, 121, 192);
          display: flex;
          justify-content: center;
          align-items: center;

          .fa-trash {
            font-size: 1.6rem;
          }
        }

        .look {
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          .fa-eye {

            font-size: 1.6rem;
          }
        }

        .new {
          text-align: center;
          width: 55%;
        }

      }
    }
  }

}